<!DOCTYPE html>
<html>
<head>
    <title>Complaint Submitted</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hod_response.css' %}">
</head>
<body>
    <div class="container text-center">
        <h2 class="text-success">✅ Complaint Submitted</h2>
        <p>Your complaint has been successfully submitted and is awaiting HOD approval.</p>
    </div>
        <footer>
         Developed by: <strong>Joshua Praise</strong>  | 
        <a href="mailto:praizjoshua263@gmail.com">praizjoshua263@gmail.com</a> | 
        <a href="tel:07045053753">07045053753</a>
    </footer>
</body>
</html>
